<form #form="ngForm">
  <div class="form-group">
    <label for="title">title</label>
    <input type="text" [(ngModel)]="post.title" required minlength="3" name="title" id="title" class="form-control"
      placeholder="" aria-describedby="helpId" #postTitle=ngModel>
    <div class=" alert alert-danger" *ngIf="postTitle.touched  && !postTitle.valid">

      <div *ngIf="postTitle.errors?.required "> ce champ est obligatoir </div>

      <div *ngIf="postTitle.errors?.minlength "> ce champ doit avoir au moin 3 caracters </div>

    </div>
  </div>


  <div class="form-group">
    <label for="body">body</label>
    <input [(ngModel)]="post.body" type="text" name="body" id="body" class="form-control" placeholder=""
      aria-describedby="helpId" required #postBody=ngModel
      >
    <div class=" alert alert-danger" *ngIf="postBody.touched && !postBody.valid ">


      <div *ngIf="postBody.errors?.required "> ce champ est obligatoir </div>


    </div>
  </div>

    <br>
    <button class="btn btn-info form-control" (click)="createPoste()" *ngIf="status"
      [disabled]="!form.valid">ADD</button>
    <button class="btn btn-warning form-control" (click)="UpdatePost()" *ngIf="!status">Update</button>

</form>
<br>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    <div class="d-md-flex justify-content-md-end">

      <button class="btn btn-warning me-md-2 " (click)="EditPost(post)">Edit</button>
      <button class="btn btn-danger  me-md-2" (click)="DeletePost(post)">Delete</button>
    </div>
  </li>
</ul>